body{
  margin: 0;
  padding: 15px;
}

.border-one{
  width: 90%;
  height: 25vh;
  border-color: #000;
  border-style: solid;
  border-width: .4em;
  margin: 0 auto;
  margin-top: 5vh;
}

.purple-box{
  background-color: rgb(121, 22, 121);
  width: 40px;
  height: 15vh;
  margin-top: 8vh;
  margin-left: 15px;
  display: inline-block;
}

.green-box{
  background-color: #319937;
  width: 43%;
  height: 21vh;
  margin-left: 5vh;
  display: inline-block;
}

.blue-circle{
  background-color: skyblue;
  width: 150px;
  height: 21vh;
  border-radius: 50%;
  margin-left: 5vh;
  display: inline-block;
}

.border-two{
  width: 90%;
  height: 30vh;
  border-color: #000;
  border-style: dotted;
  border-width: .4em;
  margin: 0 auto;
  margin-top: 5vh;
}

.tan-box{
  background-color: rgb(238, 229, 178);
  width: 92%;
  height: 21vh;
  margin: 0 auto;
  margin-top: 4vh;
  box-shadow: 8px 8px 5px black;
}

.border-three{
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  width: 35%;
  height: 40vh;
  margin: 0 auto;
  margin-top: 5vh;
  box-shadow: 3px 3px 5px gray;
  text-align: center;
}

.hello{
  margin-top: 120px;
  color: rgb(0, 0, 63);
  letter-spacing: 5px;
}