body{
  margin: 0;
}

.top-bar{
  background-color: lightgray;
  width: 100%;
  height: 15vh;
  padding-top: 10px;
}

.blue-top-box{
  width: 125px;
  height: 125px;
  background-color: rgb(104, 121, 197);
  margin-left: 35px;
}

.message{
  text-align: left;
  font-size: 24px;
  margin: 50px;
}

.blue-bar{
  background-color: rgb(92, 92, 226);
  width: 100%;
  height: 15vh;
}

.teal-bar{
  background-color: rgb(58, 218, 218);
  width: 100%;
  height: 15vh;
}

.green-bar{
  background-color: lightgreen;
  width: 100%;
  height: 15vh;
}

.yellow-bar{
  background-color: yellow;
  width: 100%;
  height: 15vh;
}