body{
  margin: 0;
}

.top-bar{
  background-color: lightgray;
  width: 100%;
  height: 13vh;
  padding: 25px;
}

.blue-top-box{
  width: 75px;
  height: 75px;
  background-color: rgb(104, 121, 197);
  box-sizing: border-box;
}

.message{
  text-align: left;
  font-size: 24px;
  margin: 50px;
}

.blue-bar{
  background-color: rgb(92, 92, 226);
  width: 100%;
  height: 18vh;
}

.teal-bar{
  background-color: rgb(58, 218, 218);
  width: 100%;
  height: 18vh;
}

.green-bar{
  background-color: lightgreen;
  width: 100%;
  height: 18vh;
}

.yellow-bar{
  background-color: yellow;
  width: 100%;
  height: 18vh;
}