body {
  margin: 0;
  background-color: rgb(161, 161, 161);
}

.graybar {
  background-color: #333;
  height: 7em;
  width: 100%;
}

.whitebox {
  background-color: #ffffff;
  width: 80%;
  height: 75vh;
  margin: 0 auto;
}

.blackfooter {
  background-color: #000;
  width: 80%;
  height: 10.5vh;
  margin: 0 auto;
}